In [1]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt

from tensorflow import keras
from tensorflow.keras.layers import Dense

In [2]:
df = pd.read_csv("internship_train.csv")

In [3]:
y = df.pop("target")
train_target = np.array(y)
train_data = np.array(df)
#test = np.array(x.loc[1])
#res = y.loc[1]
#print(test)
#print("#"*20)
#print(res)
print(train_target[:5])
print(train_data[:5])

[20.10747174 61.76371332 74.651162   69.42464537 66.76730392]
[[ 2.36000000e+02  4.88000000e+02  1.60000000e+01  2.21000000e+02
   3.82000000e+02  9.70000000e+01 -4.47213595e+00  1.07471738e-01
   0.00000000e+00  1.32000000e+02  2.81000000e+02  3.36000000e+02
   9.90000000e+01  3.88009813e+00  1.79750241e+00  3.25247547e+00
   1.21319808e+01  3.09136068e+00  5.63031887e+00  4.46637286e+00
   2.51120335e+00  5.98272404e+00  4.54115934e+00  1.27404763e+01
   1.26349291e+01  4.05029385e+00  1.18272453e+01  3.56832072e+00
   1.34205371e+01  8.25180666e+00  2.28790040e+00  1.48344300e+01
   8.22532252e-02  2.97556092e+00  5.22375269e+00  1.21228674e+00
   7.30279656e+00  7.08314917e+00  3.61034992e+00  7.76751180e+00
   7.82965727e+00  8.39535614e+00  1.58371120e+00  1.01250197e+01
   1.33408737e+01  8.70541652e-01  1.96293699e+00  7.46666618e+00
   1.15477942e+01  8.82291647e+00  9.04642441e+00  7.89553517e+00
   1.10106774e+01]
 [ 3.86000000e+02  2.06000000e+02  3.57000000e+02  2.32000000e+02
   1.00000000e+00  1.98000000e+02  7.81024968e+00  7.63713322e-01
   1.00000000e+00  1.43000000e+02  1.09000000e+02  1.23000000e+02
   1.30000000e+02  1.20997704e+01  1.06705501e+01  1.41371114e+01
   2.17036683e-01  1.42688055e+00  9.16617430e-01  8.16825432e+00
   4.32318747e-01  5.87221759e+00  1.04014012e+01  1.28433009e+01
   7.52999195e+00  1.25253348e+01  8.65534366e+00  8.49958732e+00
   5.60255236e+00  4.18773832e+00  1.32059816e+01  5.43266680e+00
   1.23792755e+01  1.19384199e+01  6.05728231e+00  2.58127986e+00
   1.17854558e+01  4.44556369e+00  1.11413463e+01  8.39730541e-01
   1.48190766e+00  8.92065318e+00  4.45037853e+00  1.05848024e+01
   1.24848820e+01  7.16868036e+00  2.88541462e+00  1.24139735e+01
   1.02604937e+01  1.00913505e+01  9.27088846e+00  3.17399392e+00
   1.39218712e+01]
 [ 4.29000000e+02  4.90000000e+01  4.81000000e+02  1.11000000e+02
   1.11000000e+02  1.46000000e+02  8.60232527e+00  6.51162000e-01
   1.00000000e+00  4.30000000e+02  4.88000000e+02  1.38000000e+02
   8.00000000e+01  2.94747875e+00  1.26713521e+01  1.32799176e+01
   1.31633384e+01  9.05182593e+00  1.16058218e+01  1.10941610e+01
   1.04618128e+01  9.82771343e+00  2.20601939e+00  9.91478898e+00
   4.44848166e+00  8.86481002e+00  1.08374757e+01  1.41678724e+01
   1.34568567e+01  1.48555112e+01  7.59609497e+00  4.92803268e+00
   2.43992990e+00  6.79116482e+00  8.70953563e+00  1.36308675e+00
   4.98097513e+00  2.18237193e+00  1.46736145e+01  8.08328932e+00
   6.60147222e+00  6.78919994e+00  1.29820347e+01  1.02731140e+01
   1.40302570e+01  3.94970063e-01  8.16062467e+00  1.25920594e+01
   8.93757666e+00  2.26519063e+00  1.12557207e+01  1.27948408e+01
   1.20809505e+01]
 [ 4.14000000e+02  3.50000000e+02  4.81000000e+02  3.70000000e+02
   2.08000000e+02  1.58000000e+02  8.30662386e+00  4.24645369e-01
   1.00000000e+00  3.40000000e+02  1.11000000e+02  3.80000000e+01
   1.77000000e+02  5.36825172e+00  6.76594645e+00  5.44415013e-01
   7.17557290e+00  1.45150959e+01  1.90174291e+00  9.23126314e+00
   9.60081019e+00  1.00588437e+01  5.68002077e+00  8.23847308e+00
   2.72759996e-01  1.18927432e+01  4.03056670e+00  1.49467493e+01
   7.12163235e+00  6.50757182e+00  1.24626883e+01  1.22225224e+01
   3.18528066e-01  5.35032098e+00  3.14335846e+00  1.02918042e+01
   1.31051704e+01  1.01590998e+01  3.67148781e+00  1.10871977e+01
   1.28905402e+00  2.49374750e-01  2.96713264e+00  6.88517865e+00
   2.78957732e+00  6.41670812e+00  1.05498135e+01  1.14564372e+01
   6.46809883e+00  2.51904936e+00  2.58283812e-01  9.31769614e+00
   5.38309751e+00]
 [ 3.18000000e+02  3.59000000e+02  2.00000000e+01  2.18000000e+02
   3.17000000e+02  3.01000000e+02  8.12403840e+00  7.67303920e-01
   1.00000000e+00  2.12000000e+02  1.41000000e+02  4.17000000e+02
   3.43000000e+02  1.45922184e+01  6.48362880e+00  9.15931270e+00
   5.08304631e+00  8.77201502e+00  7.68724200e+00  1.11069262e+01
   1.39263581e+01  9.14295206e-01  1.41812356e+00  4.50422327e+00
   6.15847471e+00  1.79092341e+00  7.04961439e+00  1.44098075e+01
   1.16158374e+01  5.67579043e+00  9.13614568e+00  1.06404318e+01
   1.40511216e+01  2.24041733e+00  3.27182787e+00  5.06145505e+00
   3.67988010e+00  2.94861537e+00  6.41957651e+00  1.48730997e+01
   1.48068868e+01  9.99254494e+00  3.70195891e+00  1.11626855e+01
   1.88656042e+00  1.91999857e+00  2.26820317e+00  1.49420701e-01
   4.10590740e+00  1.04162912e+01  6.81621716e+00  8.58695959e+00
   4.51241881e+00]]

In [4]:
std = train_data.std(axis=0)
train_data /= std

In [5]:
train_data[:5]

array([[ 1.63507835,  3.38838535,  0.11102878,  1.53169984,  2.65386916,
         0.67207856, -0.63541518,  0.37228572,  0.        ,  0.91278786,
         1.94648179,  2.32565664,  0.6860246 ,  0.89591368,  0.41624617,
         0.74964151,  2.79178869,  0.71592312,  1.30226683,  1.03213785,
         0.58056823,  1.38164843,  1.04814322,  2.94309276,  2.9077871 ,
         0.9334453 ,  2.72901842,  0.82390555,  3.09588627,  1.91079114,
         0.52871781,  3.43179247,  0.01899832,  0.68720456,  1.20554085,
         0.27963672,  1.68675653,  1.63679297,  0.83312195,  1.79485834,
         1.80984384,  1.94537759,  0.36542765,  2.33839302,  3.08075893,
         0.20144371,  0.45315235,  1.72214919,  2.66563565,  2.04091947,
         2.09101083,  1.82561969,  2.54108823],
       [ 2.67432306,  1.430343  ,  2.47732972,  1.6079383 ,  0.0069473 ,
         1.37187169,  1.1097049 ,  2.64552863,  2.00000263,  0.98885351,
         0.75504098,  0.85135645,  0.90084039,  2.79383395,  2.47097063,
         3.25836911,  0.04994407,  0.33044891,  0.21200939,  1.88760875,
         0.09994831,  1.3561281 ,  2.40074336,  2.96684558,  1.73294312,
         2.88663374,  1.99713388,  1.96250778,  1.29241213,  0.9697141 ,
         3.05181017,  1.25679146,  2.8592851 ,  2.75717312,  1.39790332,
         0.59542071,  2.72213452,  1.0272927 ,  2.57096967,  0.19403863,
         0.34254647,  2.06709977,  1.02688633,  2.44458074,  2.88308792,
         1.65883573,  0.66611024,  2.86322086,  2.36848157,  2.33433399,
         2.14289396,  0.73389652,  3.2129452 ],
       [ 2.97223987,  0.34022722,  3.33780279,  0.76931531,  0.77115046,
         1.01158216,  1.2222455 ,  2.25564707,  2.00000263,  2.9734756 ,
         3.38036695,  0.9551804 ,  0.55436332,  0.6805721 ,  2.93429472,
         3.06080019,  3.02912278,  2.09629742,  2.68437314,  2.56375898,
         2.41867953,  2.26960908,  0.50917048,  2.29034951,  1.02376812,
         2.04301601,  2.500639  ,  3.27128351,  3.10426458,  3.43994718,
         1.75540453,  1.14004956,  0.56355925,  1.5684167 ,  2.00999197,
         0.31442158,  1.15047602,  0.50430832,  3.38607352,  1.86782584,
         1.52594595,  1.57319799,  2.99549216,  2.3725957 ,  3.23995567,
         0.09139624,  1.88391491,  2.90429549,  2.06310594,  0.52398452,
         2.60167254,  2.95844586,  2.78809014],
       [ 2.8683154 ,  2.43019441,  3.33780279,  2.56438435,  1.4450387 ,
         1.09472589,  1.18023131,  1.47098584,  2.00000263,  2.35112024,
         0.76889494,  0.26302069,  1.22652884,  1.23952797,  1.56678473,
         0.12547861,  1.65122939,  3.3615271 ,  0.43986438,  2.13326034,
         2.21962327,  2.32298624,  1.31100339,  1.90311492,  0.06277265,
         2.7408444 ,  0.9300129 ,  3.45112188,  1.64283767,  1.50689553,
         2.88004028,  2.82755456,  0.07357156,  1.23565441,  0.72542619,
         2.37399807,  3.02695434,  2.34759183,  0.84723009,  2.56194645,
         0.29796789,  0.05778529,  0.68464018,  1.59014542,  0.64418684,
         1.48482902,  2.43546932,  2.64236991,  1.49306391,  0.58270719,
         0.0597003 ,  2.15445428,  1.2423328 ],
       [ 2.20319879,  2.49268512,  0.13878598,  1.51090754,  2.20229456,
         2.08552212,  1.15428899,  2.65796659,  2.00000263,  1.46599262,
         0.97670439,  2.886306  ,  2.37683272,  3.36933956,  1.50140866,
         2.11106928,  1.16970109,  2.03149647,  1.77802367,  2.5667089 ,
         3.21965208,  0.21114705,  0.32731655,  1.04049068,  1.41730382,
         0.41274265,  1.62662793,  3.32714499,  2.6795732 ,  1.31428795,
         2.1112995 ,  2.4615542 ,  3.24543732,  0.51742345,  0.75507444,
         1.16751973,  0.84995683,  0.68137389,  1.48137721,  3.43676427,
         3.42264699,  2.31547925,  0.85419498,  2.57804397,  0.43565646,
         0.4442885 ,  0.52362435,  0.03446314,  0.94778733,  2.40949935,
         1.57551572,  1.98549207,  1.04139408]])

In [7]:
model = keras.Sequential()
model.add(Dense(64, activation="relu", input_shape=(train_data.shape[1],)))
model.add(Dense(32, activation="relu"))
model.add(Dense(1))

model.compile(loss="mse", metrics=[keras.metrics.RootMeanSquaredError()], optimizer=keras.optimizers.Adam(learning_rate=0.01))

#history = model.fit(x,y, epochs=40)

#plt.plot(history.history["loss"])
#plt.grid(True)
#plt.show()

In [8]:
model.load_weights("3_q_regresion_model.h5")

In [9]:
test_df = pd.read_csv("internship_hidden_test.csv")
test_df

,0,1,2,3,4,5,6,7,8,9,...,43,44,45,46,47,48,49,50,51,52
0,259,388,402,340,156,382,3.316625,0.218760,1,164,...,7.163474,10.227235,0.889111,9.190222,4.670908,0.931525,7.634177,0.158196,13.432551,2.511191
1,441,192,381,421,452,123,-8.888194,0.700228,0,349,...,10.619064,9.339161,4.221861,0.595563,13.865748,0.328453,11.507599,9.107966,1.302407,11.105604
2,83,129,107,156,247,191,2.645751,0.494556,1,297,...,1.819890,10.670237,10.350867,5.134417,5.898995,8.374986,4.638049,3.160023,2.243799,5.073030
3,183,438,191,116,491,403,-6.164414,0.511117,0,272,...,4.168135,12.782579,0.513072,0.321295,11.334062,11.735511,1.911520,8.365676,4.877288,11.601819
4,449,156,310,188,279,465,8.000000,0.756416,1,90,...,7.908122,1.140498,14.165074,7.688796,5.079241,8.152186,1.680403,13.215111,5.823109,1.038015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,221,246,314,406,464,317,6.708204,0.436684,1,205,...,1.272356,12.306512,7.778209,5.698493,10.023215,4.959409,4.056025,4.642375,4.533745,6.754558
9996,152,157,32,133,369,261,5.656854,0.986208,1,457,...,2.331195,13.176561,6.697370,4.119232,2.190155,14.555999,7.786794,9.414130,5.413161,4.134093
9997,349,240,355,97,93,176,4.690416,0.830543,1,287,...,14.423037,0.941523,3.555292,12.572057,7.058367,12.999451,1.901825,5.100031,1.498432,8.093801
9998,427,70,63,265,62,150,4.000000,0.502337,1,124,...,1.154640,1.593796,9.902159,2.548667,11.339210,14.192310,14.142207,9.966924,8.538981,7.036367
9999,144,216,66,452,382,307,9.539392,0.986542,1,40,...,2.794024,14.724772,3.093617,3.681825,11.427112,5.748047,8.053866,0.729627,0.767049,9.541795

In [10]:
test_data = np.array(test_df)
test_data /= std
test_data

array([[1.7944292 , 2.69404409, 2.78959818, ..., 0.0365657 , 3.10589838,
        0.57954283],
       [3.05537945, 1.33313522, 2.6438729 , ..., 2.1052356 , 0.30114496,
        2.56299575],
       [0.57504874, 0.89570023, 0.74250499, ..., 0.73041488, 0.51881519,
        1.17077414],
       ...,
       [2.41797603, 1.66641903, 2.46345113, ..., 1.17883257, 0.34647004,
        1.86791991],
       [2.95838328, 0.48603888, 0.43717583, ..., 2.30377711, 1.97439847,
        1.62388087],
       [0.99767492, 1.49977712, 0.45799373, ..., 0.16864757, 0.17735849,
        2.20209374]])

In [11]:
y_pred = model.predict(test_data)
y_pred

313/313 [==============================] - 0s 759us/step

array([[10.783811],
       [80.18466 ],
       [ 8.333396],
       ...,
       [23.666378],
       [16.767773],
       [93.42528 ]], dtype=float32)

In [12]:
fin_df = pd.DataFrame(data=y_pred)
fin_df.columns = ['target']
fin_df

         target
0     10.783811
1     80.184662
2      8.333396
3     38.694794
4     65.770569
...         ...
9995  45.707855
9996  33.688820
9997  23.666378
9998  16.767773
9999  93.425278

[10000 rows x 1 columns]

In [13]:
fin_df.to_csv('model_prediction_1.csv', index=False)

In [14]:
pd.read_csv("model_prediction.csv")

         target
0     36.757744
1     37.144844
2     42.197900
3     37.090797
4     44.226242
...         ...
9995  39.654290
9996  45.574333
9997  44.162903
9998  42.342422
9999  45.020890

[10000 rows x 1 columns]